body {
  margin: 0;
  background: #0b1220;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
  background: #0f1c33;
}

.logo {
  width: 120px;
}

section {
  background: #121f3d;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #1e90ff;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0d6efd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #333;
  text-align: center;
}

th {
  background: #1e90ff;
}
